/*Website by Tycho Web*/


/*Global*/

html,
body {
	margin: 0;
	height: 100%;
	width: auto;
	transition: 0.3s;
	background: red;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, CornflowerBlue, SteelBlue);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, CornflowerBlue, SteelBlue);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, CornflowerBlue, SteelBlue);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, CornflowerBlue, SteelBlue);
	/* Standard syntax */
	overflow: hidden;
}


/*Fonts*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
	@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900i|Raleway');
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', Arial, Times New Roman, serif;
}

h1 {
	font-style: italic;
	font-weight: 900;
	font-size: 3em;
	margin: 0;
}

p {
	font-family: 'Raleway', Arial, Times New Roman, sans-serif;
	margin: 0;
	font-size: 1em;
}


/*Body*/

.container {
	margin: 0 auto;
	margin-top: 10em;
	max-width: 800px;
	height: 32em;
	transition: 0.5s;
	border-radius: 50px;
	animation: imageslide;
	animation-duration: 25s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#tycho-logo {
	margin-top: 8em;
	margin-left: 3em;
	margin-right: 3em;
	max-width: 700px;
	height: auto;
	float: initial;
	transition: 0.3s;
}

#small-container {
	margin-top: 1em;
	text-align: center;
	padding: 0;
}


/*Strip Animation*/

@keyframes imageslide {
	0% {
		background-image: url(Grand%20Central%20Mini.png);
		background-size: cover;
	}
	33% {
		background-image: url(Misty%20Richmond%20Mini.png);
		background-size: cover;
	}
	66% {
		background-image: url(New%20York%20Mini.png);
		background-size: cover;
	}
	100% {
		background-image: url(Yellow%20Grass%20Mini.png);
		background-size: cover;
	}
}

@keyframes fade {
	0% {
		background-color: rgba(255, 255, 255, 1);
	}
	100% {
		background-color: rgba(255, 255, 255, 0);
	}
}
